<body>
  <p style="font-family:sans-serif !important;"><b>Record Activity</b></p>
<div class="info"> 
  <mat-form-field  style="margin-left: 10px;">
    <input matInput [(ngModel)]="data.ClientName" placeholder="Client Name" readonly style="width: 150px;height:25px;">
  </mat-form-field> &nbsp;&nbsp;  &nbsp;&nbsp; 
  <mat-form-field  style="margin-left: 10px;">
    <input matInput [(ngModel)]="data.policy" placeholder="Policy Number:" readonly style="width: 150px;height:25px;">
  </mat-form-field> &nbsp;&nbsp;  &nbsp;&nbsp; 
  <mat-form-field style="margin-left: 50px;">
    <input matInput [(ngModel)]="data.PhnNum" placeholder="Phone Number:" readonly style="width: 150px;height:25px;">

  </mat-form-field> &nbsp;&nbsp; &nbsp;&nbsp; 
  <mat-form-field style="margin-left: 50px;">   
    <input matInput [(ngModel)]="data.EmailId" placeholder="Email Id:" readonly style="white-space: normal;
     width: 250px;height:25px;">

  </mat-form-field> 
</div><br>
 <div id="open">
<div class="log">
  <p style="font-family:sans-serif !important; font-size: 16px;"><b> Record Correspondence</b></p>
<form name="f" [formGroup]="ClientForm" (ngSubmit)="onSubmit()" class="form"><!-- on(ClientForm.value) -->
  <mat-form-field class="example-full-width">
    <input matInput maxlength="250" placeholder="Last Correspondence" formControlName="comment"  name="comment"
      style="height:35px;width: 200px;" readonly>
  </mat-form-field><br><br>
  
 <div style="float:left;margin-top: 12px;"><h5 style="font-size: 17px;font-family:sans-serif !important;margin-top: -10px;">Correspondence Mode :</h5></div>
<div>&nbsp;&nbsp;
   <mat-radio-group aria-label="Select an option" formControlName="mode" required>
        <mat-radio-button name="call" value="Call">Call</mat-radio-button>&nbsp;
        <mat-radio-button name="email" value="Email">Email</mat-radio-button>
    </mat-radio-group><br><br></div>
 
    <mat-form-field color="accent">
      <mat-label>Expected Pay Date </mat-label>
      <input matInput [min]="minDate" autocomplete="off" [matDatepicker]="picker"  name="picker" formControlName="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker   #picker color="primary"></mat-datepicker>
    </mat-form-field><br><br>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="250" name="note" autocomplete="off" formControlName="note" placeholder="Note" style="height: 25px;width: 210px;"   required>
      <!-- (keydown.space)="$event.preventDefault()" -->
      <mat-error *ngIf=" ClientForm.get('note').hasError('required')">
        Comment is Required!
      </mat-error>
      <!-- <mat-error *ngIf="name.hasError('required')">Date should be inferior</mat-error> -->
    </mat-form-field><br><br>
  <button mat-button class="btn btn-default" [disabled]="!ClientForm.valid" type="submit"  style="font-family:sans-serif !important;">Follow up</button>
  
  </form>
</div>

<div class="a"></div>

 <!--  Reduction  -->
<div class="red">
  <p style="font-family:sans-serif !important; font-size: 16px;"><b> Record Reduction</b></p>
    <form name="r" [formGroup]="ReductionForm" (ngSubmit)="onhi()" class="form"><!-- onhi(ReductionForm.value) -->
    <mat-checkbox value="reduced" formControlName="Check" name="Check" required>This policy has been reduced</mat-checkbox><br><br>
    <mat-form-field class="example-full-width">
      <input matInput name="Transition id" autocomplete="off" placeholder="Transaction ID" formControlName="Transitionid"  name="Transitionid" minlength = '6'  maxlength="6"
       style="height:25px;" required>
       <mat-error *ngIf=" ReductionForm.get('Transitionid').hasError('required')">
        Transactionid is Required!
      </mat-error>
    </mat-form-field>&nbsp;&nbsp;&nbsp;
    <button mat-button class="ima" [disabled]="ReductionForm.invalid" type="submit"  style="font-family:sans-serif !important;">Reduced</button> 
    </form>
  </div>
 </div>
</body>