<div class="container" style="text-align:center">
    <button mat-raised-button color="primary" kendo-button (click)="pdf.saveAs('quoteletter.pdf')">Download as PDF</button>
    <button mat-raised-button style="margin-left: 5px;"  color="primary" mat-dialog-close>Close</button>
</div>
<kendo-pdf-export #pdf paperSize="A3" margin="1cm" [scale]="0.8">
    <style>
        p {
    font-size: 16px;
    }
    .mat-raised-button.mat-primary {
    background-color: #6cc6f0;
}
    .mat-dialog-container {
    padding:5px !important;
    }
    #ilfvs {
    text-align: center;
    }
    
    #ije8q {
    font-family: Calibri, sans-serif;
    font-size: 30px;
    }
    
    #ikzgj {
    text-align: center;
    }
    
    #i3xhj {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    }
    
    #idtae {
    background-color: #12919d;
    color: rgb(255, 255, 255);
    }
    
    #i186c {
    text-align: center;
    }
    
    #iespd {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    }
    
    #iwdwg {
    text-align: center;
    }
    
    #iggpu {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    }
    
    #iuhel {
    background-color: rgb(26, 188, 156);
    color: rgb(255, 255, 255);
    }
    
    
    
    .loge {
    width: 86px;
    height: 79px;
    }
    
    .col-xl-1.col-lg-1.col-md-1.col-sm-1.col-12.py-3 {
    background-color: #12919d;
    }
    p{
        font-size: 16px;
    }
    </style>
    <div class="row" id="content" #content>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12 py-3" style="background-color: #12919d;"></div>
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12 py-3">
            <div id="iokym" style="padding-bottom: 30px;"> 
                <h1 id="iq3nt" class="text-center" style="color:gray">J.S. JOHNSON &amp; COMPANY, LIMITED
  </h1>
                 
               <h4 class="text-uppercase text-center" id="ipfdj" style=" background-color: #12919d;padding:2px;color:white;font-weight:600">INSURANCE AGENTS &amp; BROKERS
  </h4>
                <p id="iwdwg" style="font-size: 16px;text-align: center;"><b>34 Collins Avenue, P.O.Box N-8337, Nassau, Bahamas • Telephone (242) 397-2100 • Telefax (242) 323-3720</b></p>
               <h5 class="text-center text-uppercase" style="text-decoration: underline;font-weight:600">M O T O R   Q U O T A T I O N</h5>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Name of Insured</b></p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{first}} {{last}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Product</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{prod}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Quote ID</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{quoteid}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Vehicle</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{vehicle}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Loss Payee Name</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{lospay}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Type of Cover</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{type}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Vehicle Value(in $BS)</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;<b *ngIf="vehval != 'Not Applicable'">$</b>{{vehval}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Deductible(in $BS)</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;${{deduct}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Driver Warranty</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{drivewar}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Annual Premium(in $BS)</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;${{anp}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  
                  <span class="bookTitle">
                   <b>Discounted Premium(in $BS)</b>
                    <br/>
            <span style="font-size: 13px;">
              (12 for 11 promotion discount)
            </span>
    </span>
                </div>
                <br>
                <br>
                <br>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;${{discp}}</b>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <p><b>Quote Issued By & Date</b>
                  </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <p><b>:&nbsp; &nbsp;{{user}} on  {{myFormattedDate}}</b>
                  </p>
                </div>
              </div>
              <br>
                <br>
            <p id="izf08" style="font-size: 16px;"><b>• Subject to completion and acceptance of a satisfactory Proposal form</b></p>
            <p id="iv6aq" style="font-size: 16px;"><b>• This quotation form is supplied for information purposes only and is not to be as evidence that insurance coverage has been arranged</b></p>
            <p id="i2ksm" class="text-center" style="font-size: 16px;"><b>QUOTATION IS VALID FOR 30 DAYS ONLY</b></p>
            <p id="i93gl" class="text-center" style="font-size: 16px;"><b>THOMPSON BOULEVARD • MARSH HARBOUR • FREEPORT • SOLDIER ROAD NORTH • EXUMA</b></p>
        </div>
    </div>
</kendo-pdf-export>
