<div class="row" id="content" #content>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12 py-3" style="background-color: #12919d;"></div>
    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12 py-3 border-bottom">
        <div id="iokym"> 
            <p id="ilfvs" style="font-size: 16px;text-align: center;"><span id="ije8q" style="font-family: Calibri, sans-serif;font-size: 30px;"><strong>J.S. JOHNSON & COMPANY, LIMITED</strong></span></p>
            <p id="ikzgj" style="font-size: 16px;text-align: center;"><span id="i3xhj" style="font-family: Calibri, sans-serif;font-size: 18px;"><strong><span id="idtae" style="background-color: #12919d;color: rgb(255, 255, 255);">I N S U R A N C E     A G E N T S    &    B R O K E R S</span></strong></span></p>
            <p id="iwdwg" style="font-size: 16px;text-align: center;"><b>34 Collins Avenue, P.O.Box N-8337, Nassau, Bahamas • Telephone (242) 397-2100 • Telefax (242) – 323-3720</b></p>
            <p id="i186c" style="font-size: 16px;text-align: center;"><span id="iespd" style="font-family: Calibri, sans-serif;font-size: 20px;"><u>M O T O R   Q U O T A T I O N</u></span></p>
        </div>
        <p id="i60j8" style="font-size: 16px;">Name of Insured : <a>{{first}} {{last}}</a></p>
        <p id="i42ot" style="font-size: 16px;">Product :  <a>{{prod}}</a></p>
        <p id="ixm7r" style="font-size: 16px;">Vehicle : </p>
        <p id="ivhmh" style="font-size: 16px;">Loss Payee Name : </p>
        <p id="ixhky" style="font-size: 16px;">Type of Cover :</p>
        <p id="icr73" style="font-size: 16px;">Value :</p>
        <p id="iwisw" style="font-size: 16px;">Deductible :</p>
        <p id="i4fve" style="font-size: 16px;">Driver Warranty :</p>
        <p id="idody" style="font-size: 16px;">Annual Premium :</p>
        <p id="itsc6" style="font-size: 16px;">Discounted Premium((12 for 11 promotion discount)) :</p>
        <p id="i8g14" style="font-size: 16px;">Quote Issued By, Date :</p>
        <p id="izf08" style="font-size: 16px;">• Subject to completion and acceptance of a satisfactory Proposal form</p>
        <p id="iv6aq" style="font-size: 16px;">• This quotation form is supplied for information purposes only and is not to be as evidence that insurance coverage has been arranged</p>
        <p id="i2ksm" class="text-center" style="font-size: 16px;">QUOTATION IS VALID FOR 30 DAYS ONLY</p>
        <p id="i93gl" class="text-center" style="font-size: 16px;">THOMPSON BOULEVARD • MARSH HARBOUR • FREEPORT • SOLDIER ROAD NORTH • EXUMA</p>
    </div>
</div>
<style>
        p {
font-size: 16px;
}
.mat-dialog-container {
padding:5px !important;
}
#ilfvs {
text-align: center;
}

#ije8q {
font-family: Calibri, sans-serif;
font-size: 30px;
}

#ikzgj {
text-align: center;
}

#i3xhj {
font-family: Calibri, sans-serif;
font-size: 18px;
}

#idtae {
background-color: #12919d;
color: rgb(255, 255, 255);
}

#i186c {
text-align: center;
}

#iespd {
font-family: Calibri, sans-serif;
font-size: 20px;
}

#iwdwg {
text-align: center;
}

#iggpu {
font-family: Calibri, sans-serif;
font-size: 18px;
}

#iuhel {
background-color: rgb(26, 188, 156);
color: rgb(255, 255, 255);
}



.loge {
width: 86px;
height: 79px;
}

.col-xl-1.col-lg-1.col-md-1.col-sm-1.col-12.py-3 {
background-color: #12919d;
}
    </style>
    <div class="container">
        <button mat-raised-button color="primary" (click)="export()" style="align-items: flex-end;margin-left:140px">Download as PDF</button>
    </div>


