<div class="container" style="text-align:center">
    <button mat-raised-button color="primary" kendo-button (click)="pdf.saveAs('quoteletter.pdf')">Download as PDF</button>
</div>
<kendo-pdf-export #pdf paperSize="A3" margin="1cm" [scale]="0.8">
    <style>
        p {
    font-size: 16px;
    }
    .mat-dialog-container {
    padding:5px !important;
    }
    #ilfvs {
    text-align: center;
    }
    
    #ije8q {
    font-family: Calibri, sans-serif;
    font-size: 30px;
    }
    
    #ikzgj {
    text-align: center;
    }
    
    #i3xhj {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    }
    
    #idtae {
    background-color: #12919d;
    color: rgb(255, 255, 255);
    }
    
    #i186c {
    text-align: center;
    }
    
    #iespd {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    }
    
    #iwdwg {
    text-align: center;
    }
    
    #iggpu {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    }
    
    #iuhel {
    background-color: rgb(26, 188, 156);
    color: rgb(255, 255, 255);
    }
    
    
    
    .loge {
    width: 86px;
    height: 79px;
    }
    
    .col-xl-1.col-lg-1.col-md-1.col-sm-1.col-12.py-3 {
    background-color: #12919d;
    }
    </style>
    <div class="row" id="content" #content>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-12 py-3" style="background-color: #12919d;"></div>
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-12 py-3 border-bottom">
            <div id="iokym"> 
                <h1 id="iq3nt" class="text-center" style="color:gray">J.S. JOHNSON &amp; COMPANY, LIMITED
  </h1>
                 
               <h4 class="text-uppercase text-center" id="ipfdj" style=" background-color: #12919d;padding:2px;color:white;font-weight:600">INSURANCE AGENTS &amp; BROKERS
  </h4>
                <p id="iwdwg" style="font-size: 16px;text-align: center;"><b>34 Collins Avenue, P.O.Box N-8337, Nassau, Bahamas • Telephone (242) 397-2100 • Telefax (242) – 323-3720</b></p>
               <h5 class="text-center text-uppercase" style="text-decoration: underline;font-weight:600">M O T O R   Q U O T A T I O N</h5>
            </div>
            <p id="i60j8" style="font-size: 16px;">Name of Insured : <a>{{first}} {{last}}</a></p>
            <p id="i42ot" style="font-size: 16px;">Product :  <a>{{prod}}</a></p>
            <p id="ixm7r" style="font-size: 16px;">Vehicle : <a>{{vehicle}}</a></p>
            <p id="ivhmh" style="font-size: 16px;">Loss Payee Name : <a>{{lospay}}</a></p>
            <p id="ixhky" style="font-size: 16px;">Type of Cover : <a>{{type}}</a></p>
            <p id="icr73" style="font-size: 16px;">Value :</p>
            <p id="iwisw" style="font-size: 16px;">Deductible : <a>{{deduct}}</a></p>
            <p id="i4fve" style="font-size: 16px;">Driver Warranty : <a>{{drivewar}}</a></p>
            <p id="idody" style="font-size: 16px;">Annual Premium :</p>
            <p id="itsc6" style="font-size: 16px;">Discounted Premium((12 for 11 promotion discount)) :</p>
            <p id="i8g14" style="font-size: 16px;">Quote Issued By, Date : {{user}}</p>
            <p id="izf08" style="font-size: 16px;">• Subject to completion and acceptance of a satisfactory Proposal form</p>
            <p id="iv6aq" style="font-size: 16px;">• This quotation form is supplied for information purposes only and is not to be as evidence that insurance coverage has been arranged</p>
            <p id="i2ksm" class="text-center" style="font-size: 16px;">QUOTATION IS VALID FOR 30 DAYS ONLY</p>
            <p id="i93gl" class="text-center" style="font-size: 16px;">THOMPSON BOULEVARD • MARSH HARBOUR • FREEPORT • SOLDIER ROAD NORTH • EXUMA</p>
        </div>
    </div>
</kendo-pdf-export>
