<body>
  <p style="font-family:sans-serif !important;"><b>Record Activity</b></p>
  <br><div class="info"> 
    <mat-form-field  style="margin-left: 10px;">
      <input matInput [(ngModel)]="data.ClientName" placeholder="Client Name" readonly style="width: 150px;height:25px;">
    </mat-form-field> &nbsp;&nbsp;  &nbsp;&nbsp; 
    <mat-form-field  style="margin-left: 10px;">
      <input matInput [(ngModel)]="data.policy" placeholder="Policy Number:" readonly style="width: 150px;height:25px;">
    </mat-form-field> &nbsp;&nbsp;  &nbsp;&nbsp; 
    <mat-form-field style="margin-left: 50px;">
      <input matInput [(ngModel)]="data.PhnNum" placeholder="Phone Number:" readonly style="width: 150px;height:25px;">
    </mat-form-field> &nbsp;&nbsp; &nbsp;&nbsp; 
    <mat-form-field style="margin-left: 50px;">   
      <textarea matInput [(ngModel)]="data.EmailId" placeholder="Email Id:" readonly style="white-space: normal;
       width: 250px;height:25px;">
    </textarea>
    </mat-form-field> 
  </div>
   <div id="open">
  <!–– Reduction --> 
  <div class="red">
      <form name="r" [formGroup]="ReductionForm" (ngSubmit)="onhi()"class="form">
        <br>
        <!-- onhi(ReductionForm.value) -->
      <mat-checkbox value="reduced" formControlName="Check" name="Check" required>This policy has been reduced</mat-checkbox><br>
      <mat-form-field class="example-full-width">
        <input matInput name="Transition id" placeholder="Transaction ID" formControlName="Transitionid"  name="Transitionid" minlength = '6'  maxlength="6"
         style="height:25px;" required>
         <mat-error *ngIf=" ReductionForm.get('Transitionid').hasError('required')">
          Transaction Id is Required!
        </mat-error>
      </mat-form-field><br><br>
      <button mat-button class="ima" [disabled]="ReductionForm.invalid" type="submit">Reduced</button> 
      </form>
    </div>
   </div></body>