
      <div data-type="default" class="container" style="padding:30px;">
        
        <div data-type="default" class="row">
          <mat-toolbar style=" background: rgb(131, 230, 255);
          color: #fff;border-radius: 5px;white-space: normal;
    ">Quotes For Review</mat-toolbar>
          <!-- / Quotes Status -->
            <div data-type="default" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-3">
       
              <div class="example-header" fxLayout="row">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              <div class="example-container mat-elevation-z8">
      
                <mat-table [dataSource]="this.dataSource" matSort>
              
                  <!-- ID Column -->
                  <!-- <ng-container matColumnDef="Sno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
                    <mat-cell data-label="Sno" *matCellDef="let element">{{element.Sno}}  </mat-cell>
                  </ng-container> -->
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="quoteid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quote ID </mat-header-cell>
                    <mat-cell data-label="quoteid" *matCellDef="let element"> {{element.quoteid}}  </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="reviewstatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Review Status </mat-header-cell>
                    <mat-cell data-label="reviewstatus" *matCellDef="let element">{{element.reviewstatus}} </mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="typeofaction">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type of Action </mat-header-cell>
                    <mat-cell data-label="typeofaction" *matCellDef="let element"> {{element.typeofaction}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="remarks">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
                    <mat-cell data-label="remarks" *matCellDef="let element"> {{element.remarks}}</mat-cell>
                  </ng-container>
                  <!-- <ng-container matColumnDef="reviewerusername">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Reviewer </mat-header-cell>
                    <mat-cell data-label="reviewerusername" *matCellDef="let element">{{element.reviewerusername}} </mat-cell>
                  </ng-container> -->
                  
                  <ng-container matColumnDef="lastupdatedat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated At </mat-header-cell>
                    <mat-cell data-label="lastupdatedat" *matCellDef="let element"> {{element.lastupdatedat}}  </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell data-label="Action" (click)="getRecord(element.quoteid)" *matCellDef="let element"> <button mat-button style="color:rgb(19, 152, 204)">Pickup for Review</button></mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
              </div>
    
            </div>
            </div>
            </div>