<div class="row" style="height: -webkit-fill-available;  width:95%">
    <div class="col-md-6" Style=" display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;"> 
        <button mat-button (click)="hi()" style="height: 200px;
        width:190px;
        padding: 10px;
        color: #ffffff;
        font-size: large;
        font-weight: 600;
        background: #41d6fc;
        border-radius:5%;">
        Quoting Module</button>
    </div>
    <div class="col-md-6" Style=" display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;"> 
    <button mat-button (click)="clickMe()"style="height: 200px;
    width:190px;
    padding: 10px;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
    background: #41d6fc;
    border-radius:5%;
    ">AR Module</button></div>
    </div>