.user{
    background: linear-gradient(42deg, rgb(14, 131, 150) 30%, rgb(151, 228, 236) 100%);

    }
    .bd {
          -webkit-animation: bd 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) ;
          animation: bd 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) ;
          padding-bottom: 10px;
    }
    @-webkit-keyframes bd {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes bd {
      0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
    }
  
    
    .container.py-4 {
        max-width: 500px;
        padding: 300px 15px 0 15px;
        display: inline-block;
        
    }
    @media screen and (max-width: 400px){
        .user{
        padding: 5px !important;
        }
    }
    .bg{
        background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% );
        display: block;
        width:100%;
        height: 100%;
        background-size: cover;
        z-index: 1;
        background-repeat: no-repeat;
      
    }

    .input {
        position: relative;
        height: 70px;
        overflow: hidden;
      }
      
      .input__item {
        width: 100%;
        height: 100%;
        color: #fff;
        padding-top: 13px;
        border: none;
        background-color: transparent;
        font-size: 16px;
        margin-top:6px;
      }
      .input__label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid white;
      }
      
      .input__label-name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-bottom: 2px;
        transform-origin: 0 0;
        transition: all 0.3s ease;
        font-size:16px;
      }
      .input__item:focus {
        outline: none;
      }
      .input__item:focus + .input__label .input__label-name,
      .input__item:valid + .input__label .input__label-name {
        transform: translateY(-110%) scale(0.85);
        left: 0px;
        color: #fff;
      }
      .input__item:focus + .input__label-name::after,
      .input__item:valid + .input__label-name::after {
        transform: translateX(0%);
      }
     
       /* ::ng-deep .mat-form-field .mat-input-element {
        color: rgb(148, 148, 148)!important;
    }
    ::ng-deep .mat-form-field .mat-form-field-label {
        color: rgb(148, 148, 148)!important;
    }
    ::ng-deep .mat-form-field .mat-form-field-underline {
        background-color: rgb(148, 148, 148)!important;
    }
    ::ng-deep .mat-form-field .mat-form-field-ripple {
        background-color: rgb(148, 148, 148)!important;
    }
    ::ng-deep .mat-form-field .mat-form-field-required-marker {
        color: rgb(148, 148, 148)!important;
    }
    
    
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: rgb(148, 148, 148)!important;
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: rgb(148, 148, 148);
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
        color: rgb(148, 148, 148);
    }
    ::ng-deep .mat-form-field.mat-focused .mat-input-element {
        color: rgb(148, 148, 148);
    }  */
     .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 90%;
      } 
     
    /* ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
        color: #ff33cc;
    }
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: #ff33cc!important;
    }
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
        color: #ff33cc;
    }
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
        background-color: #ff33cc;
    }  */

      @keyframes kenburns {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        60% {
          -webkit-transform: scale(1.25) translateY(-15px);
                  transform: scale(1.25) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
    
        }
        100%{
            -webkit-timing-function:ease;
-webkit-iteration-count:1;
      }
    }

    .logi{
        width:250px;
        height:auto;
    }
    #logg{
        position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 75px;
    }

    #backg{
        /* background-color: #d8f7fa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23eaffff' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23eaffff' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E"); */
/* background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2358817b' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236a9c96' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2358817b' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236a9c96' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%237db8b0' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2394b3a7' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23b4d9ca' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23d4ffee' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23b4d9ca' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2394b3a7' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23d4ffee' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2394b3a7' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23d4ffee' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23b4d9ca' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23d4ffee' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
/* background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2305616a' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23067681' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2305616a' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23067681' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23078b98' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237fa2a1' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239ac5c4' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239ac5c4' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237fa2a1' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237fa2a1' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239ac5c4' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
/* background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2304484e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2304585f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2304484e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2304585f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23056770' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237fa2a1' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239ac5c4' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239ac5c4' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237fa2a1' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237fa2a1' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239ac5c4' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
background-repeat:repeat; 
padding:0; margin:0;
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2382a5b3' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%239ec8d9' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2382a5b3' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%239ec8d9' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23baebff' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2373a6b0' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%238bc9d6' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23a4edfc' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%238bc9d6' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2373a6b0' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23a4edfc' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2373a6b0' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23a4edfc' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%238bc9d6' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23a4edfc' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 720px){
  #backg{
   /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2304484e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2304585f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2304484e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2304585f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23056770' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237fa2a1' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239ac5c4' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239ac5c4' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237fa2a1' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237fa2a1' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239ac5c4' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2382a5b3' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%239ec8d9' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2382a5b3' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%239ec8d9' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23baebff' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2373a6b0' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%238bc9d6' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23a4edfc' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%238bc9d6' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2373a6b0' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23a4edfc' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2373a6b0' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23a4edfc' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%238bc9d6' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23a4edfc' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");

  }
}
@media (max-width: 1024px){
  #backg{
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1700' height='1700' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2304484e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2304585f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2304484e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2304585f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23056770' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237fa2a1' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239ac5c4' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239ac5c4' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237fa2a1' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23b5e8e6' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237fa2a1' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239ac5c4' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23b5e8e6' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 35 200 200'%3E%3Cg %3E%3Cpolygon fill='%2382a5b3' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%239ec8d9' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2382a5b3' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%239ec8d9' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23baebff' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2373a6b0' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%238bc9d6' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23a4edfc' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%238bc9d6' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2373a6b0' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23a4edfc' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2373a6b0' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23a4edfc' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%238bc9d6' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23a4edfc' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  
}
}

    .mat-dialog-container {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12) !important;
        background: linear-gradient(42deg, rgba(42,46,54,1) 0%, rgba(97,107,125,1) 100%) !important;
        color: #fff !important;
      }
    /* .form-wrap form .input {
        margin: 0 0 .8em 0;
        padding: .8em 2em 10px 0;
        display: inline-block;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #49f7ef;
        outline: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        color: inherit;
        font-family: inherit;
        color: #fff;
        width: calc(100% - 20px);
    } */
    .form-wrap form .button {
        margin: 2em 0;
        margin-left: 5px;
        padding: .5em 3em;
        width: 120px;
        font-weight: 600;
        font-size: 16px;
        display: block;
        background-color: #28A55F;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: .8em;
        border-radius: 30px;
        background: -moz-linear-gradient(270deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(105,221,201,1)), color-stop(100%, rgba(78,193,182,1)));
        background: -webkit-linear-gradient(270deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
        background: linear-gradient(180deg, rgba(105,221,201,1) 0%, rgba(78,193,182,1) 100%);
        -webkit-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 37px -9px rgba(0,0,0,0.75);
    }

    .form-wrap .tabs {
        overflow: hidden;
    }
    .form-wrap .tabs-content {
        width: auto;
        margin-top: -50px;
        padding: 10px;
    }
    .form-wrap .tabs h3 {
        float: left;
        margin-left:20px;
         padding: 0.5em 0;
         font-size:20px;
    }
    
    .form-wrap a {
        color: #fff;
        border-bottom: 3px solid #5FD1C1;
        text-decoration:none;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    * {
        margin: 0;
        padding: 0;
   }
    .container-fluid {
        margin: 0;
        padding: 0;
        overflow: hidden;
   }
    .wrapper {
        overflow-x: hidden;
        height: 100vh;
   }
   
    .heading {
        font-family: 'Lato', sans-serif;
        color: #2196f3;
        letter-spacing: -2px;
   }
    .paragraph {
        color: rgba(53, 53, 53, .7);
   }
    form {
        min-width: 150px;
        margin: 50px auto;
   }
   
