::ng-deep .mat-ink-bar{
    background-color: #13c0ff !important;
    height: 4px !important;
    border-radius: 25px !important;
}
::ng-deep .mat-select-disabled .mat-select-value {
    color: black !important;
}
mat-form-field {
    width: 100%;
    /* right: initial !important;
    margin-left: 15px; */
    
  }
  /* .mat-grid-tile .mat-figure {
      width: 100%;
  } */
  /* figure{
      width: 100%;
  }
  mat-figure {
    width: 100% !important;
} */
  /* @media (max-width: 590px) {
    mat-form-field {

        margin-left: 0px !important;
        
      }
} */
  ::ng-deep.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0.42) 33%,
    #c2c7cc 0
  ) !important;
  background-size: 1px 100% !important;
  background-repeat: repeat-x !important;
}
  #head{
      display: none !important;
  }
  ::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .text-inside{
    margin-top: 80px;
    width: 100%;
}
  .mat-card{
    margin-top:25px;
    background-color: rgb(131, 230, 255);
    color: #fff;
    font-size: 18px;
}


.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(18, 18, 19) !important;
    font-size: 20px !important;
   }
   .log{
       width:350px;
       max-width: -webkit-fill-available;
   }

   .styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #5afdfd;
}
.styled-checkbox:hover + label:before {
    background: #5afdfd;
}
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.897);
}
.styled-checkbox:checked + label:before {
    background: #5afdfd;
}
.styled-checkbox:disabled + label {
    color: #0a0a0a;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: rgb(0, 0, 0);
}
.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: #5afdfd;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 20px 0;
}
.centered {
    width: 300px;
    margin: auto;
}
.title {
    text-align: center;
    color: #49aed6;
}
.mat-raised-button.mat-primary {
    background-color: #6cc6f0;
}



::ng-deep .mat-form-field .mat-input-element {
    color: rgb(59, 56, 56);
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: rgb(59, 56, 56)!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: rgb(59, 56, 56);
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: rgb(59, 56, 56);
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: rgb(59, 56, 56);
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #000000!important;
    font-size: large;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #000000;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #000000;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #000000;
}



::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #971414;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #971414!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #971414;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #971414;
}
::ng-deep .mat-tab-body-content{
    overflow-x: hidden !important;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: rgb(108, 184, 228) !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: rgb(108, 184, 228) !important;
  }
  /* ::ng-deep .mat-tab-body-wrapper {
    height: 75vh; 
} */::ng-deep .mat-expansion-panel-header
{
    height: 38px !important;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-radio-group{

    cursor: pointer;
  }

  .example-margin {
    margin: 0 10px;
  }/*for radio align*/

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: rgb(108, 184, 228)!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(108, 184, 228);
  }
  .form-group .row{
      height: 50px;
  }
  ::-webkit-input-placeholder {
    font-size: 13px;
 }
 
 .mat-raised-button[disabled][disabled]{
     display: none;
 }