<div class="container-fluid" style="padding: 20px;"><mat-tab-group><mat-tab label="Search Quote">

  <app-searchtable></app-searchtable>

 </mat-tab><mat-tab label="New Quote"> <mat-tab-group #tabGroup (selectedTabChange)="test($event)">
   <mat-tab label="Basic Details">    
    <form fxLayout="column" (ngSubmit)='moveToSelectedTab("Coverage /Driver Details")' [formGroup]="contactForm1">
    <mat-card>Personal Details</mat-card><mat-grid-list style="margin-top:-20px" cols="3" [cols]="breakpoint" rowHeight="105px" (window:resize)="onResize($event)">

  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" [(ngModel)]="firstName" formControlName="firstName" required>
      </mat-form-field>
    </div>  
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" required formControlName="dab">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
        <!-- <input matInput type="text" placeholder="Date of Birth" formControlName="middleName"> -->
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="ID Type" formControlName="idType" required>
          <mat-option value="ABER00r">ABER00r</mat-option>
          <mat-option value="AS/400 Record Id">AS/400 Record Id</mat-option>
          <mat-option value="Business License Number">Business License Number</mat-option>
          <mat-option value="Drivers License">Drivers License</mat-option>
          <mat-option value="Loan Number">Loan Number</mat-option>
          <mat-option value="National Insurance Number">National Insurance Number</mat-option>
          <mat-option value="Not Applicable">Not Applicable</mat-option>
            <mat-option value="Passport">Passport </mat-option>

        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="ID Number" formControlName="idNumber">
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Mobile Number" formControlName="dob" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Email Id" formControlName="dob1" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Occupation" formControlName="occupation">
      </mat-form-field>
     
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Place of Employment" formControlName="employement">
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Point of Sale" formControlName="pointofsale">
          <mat-option value="Bahamas Bus & Truck">Bahamas Bus & Truck</mat-option>
          <mat-option value="Car Show">Car Show</mat-option>
          <mat-option value="Subagent">Subagent</mat-option>
          <mat-option value="Walk In">Walk In</mat-option>
          <mat-option value="Call In">Call In</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside" style="height:50px">
      <button mat-raised-button color="primary" (click)="handleClick($event)">Search For Existing Client</button>
     Existing client? <mat-checkbox class="example-margin" formControlName="clienttype" [checked]="false"></mat-checkbox>
      <!-- <button mat-stroked-button style="margin-top:-40px"></button> -->
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-card>Product Details</mat-card><mat-grid-list style="margin-top:-20px" cols="3" [cols]="breakpoint" rowHeight="105px" (window:resize)="onResize($event)">

  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Product" name="education_level" (selectionChange)="educationLevelChangeAction(education_level)" [(ngModel)]="education_level" formControlName="Product" required>
          <mat-option *ngFor="let education of educationList" [value]="education.educationLevelName" >{{ education.educationLevelName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
 
</mat-grid-list>

<mat-card>Vehicle Details</mat-card><mat-grid-list style="margin-top:-20px" cols="3" [cols]="breakpoint" rowHeight="135px" (window:resize)="onResize($event)">

  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field class="example-full-width">
        <input matInput  placeholder="Make-Model-CC" [matAutocomplete]="auto" formControlName="userInput" required>
      </mat-form-field>

   
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let user of filteredUsers" [value]="user">
            <span>{{ user.name }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Vehicle Type" name="exam_title" [(ngModel)]="exam_title" formControlName="vehicleType" required>
          <mat-option *ngFor="let degreeTitle of degreeTitleList" [value]="degreeTitle">{{ degreeTitle }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Engine CC" formControlName="EngineCC" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
  <mat-form-field>
    <mat-select placeholder="Use" formControlName="Use" required>
      <mat-option value="Antique shows">Antique shows</mat-option>
      <mat-option value="Private Bus - Charter Bus">Private Bus - Charter Bus</mat-option>
      <mat-option value="Commercial Bus">Commercial Bus</mat-option>
      <mat-option value="Delivery Vehicle">Delivery Vehicle</mat-option>
      <mat-option value="Golf Cart (private roads only)">Golf Cart (private roads only)</mat-option>
      <mat-option value="Golf Cart (public roads )">Golf Cart (public roads )</mat-option>
      <mat-option value="Goods Carrying">Goods Carrying</mat-option>
      <mat-option value="Jitney">Jitney</mat-option>
      <mat-option value="Lunch Vending">Lunch Vending</mat-option>
      <mat-option value="Motorcycle">Motorcycle</mat-option>
      <mat-option value="O/T Plates">O/T Plates</mat-option>
      <mat-option value="Private">Private</mat-option>
      <mat-option value="Racing">Racing</mat-option>
      <mat-option value="Self drive">Self drive</mat-option>
      <mat-option value="Semi Private">Semi Private</mat-option>
      <mat-option value="Special Type (road use)">Special Type (road use)</mat-option>
      <mat-option value="Taxi - Tourcar  - Livery">Taxi - Tourcar  - Livery</mat-option>
      <mat-option value="Tool of trade (no road use)"> Tool of trade (no road use)</mat-option>
    </mat-select>
  </mat-form-field>

    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input type="text" placeholder="Manufacturer Year" aria-label="Number" matInput formControlName="Year" [matAutocomplete]="auto1" required>
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      Soft-top jeep/Convertible?<mat-checkbox class="example-margin" formControlName="softtop" [checked]="false"></mat-checkbox>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="text-inside" style="text-align: right;padding-bottom: 20px;">
<button mat-raised-button color="primary" type="submit" style="margin-left:50px">Next</button>
</div></form>   </mat-tab>
<mat-tab label="Coverage /Driver Details" [disabled]="true">
   
  <form fxLayout="column" (ngSubmit)='moveToSelectedTab1("Premium Summary")' [formGroup]="contactForm2">

    <mat-card>Coverage Details</mat-card><mat-grid-list style="margin-top:-60px" cols="3" [cols]="breakpoint" rowHeight="195px" (window:resize)="onResize($event)">
 
 
      <mat-grid-tile style="right: unset !important">
        <div class="text-inside" style="margin-left:15px;">
        Is your Vehicle Financed?
          <mat-checkbox class="example-margin" formControlName="financed" (click)="toggle3()"></mat-checkbox>
        </div>
      </mat-grid-tile>
        <mat-grid-tile style="right: unset !important" *ngIf="(sho)">
        <div class="text-inside" *ngIf="(sho)">
          <mat-form-field>
            <mat-select placeholder="Loss Payee Name" formControlName="losspay">
              <mat-option value="option">LP</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
   
  <mat-grid-tile style="right: unset !important" *ngIf="(sho)">
    <div class="text-inside" *ngIf="(sho)">
      <mat-form-field>
        <input matInput type="text" placeholder="Loss Payee Location" formControlName="lossloc">
      </mat-form-field>
    </div>
  </mat-grid-tile>
    </mat-grid-list>  
      <mat-grid-list style="margin-top:-60px" cols="3" [cols]="breakpoint" rowHeight="195px" (window:resize)="onResize($event)">
        <mat-grid-tile style="right: unset !important">
          <div class="text-inside">
       
            <mat-form-field>
              <mat-select placeholder="No. of claim free years/ NCD" formControlName="claimfree">
                <mat-option value="0">0</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-radio-group  formControlName="options1" required>
        <mat-grid-list style="margin-top:-60px" cols="3" [cols]="breakpoint" rowHeight="125px" (window:resize)="onResize($event)">
   
          <mat-grid-tile style="right: unset !important;margin-top: 50px;margin-left:15px;">
            <label id="example-radio-group-label" *ngIf="contactForm2.get('options1').hasError('required')" style="color: red;font-size: 11px;">Please select Type of cover:</label> 
  
            <label id="example-radio-group-label" *ngIf="!contactForm2.get('options1').hasError('required')">*Type of Cover:</label>
           <mat-radio-button class="example-radio-button" name="COMP" value="COMP" (click)="toggle1()" style="margin-left: 20px;">
              Comprehensive
            </mat-radio-button>

           
             
       
       
        </mat-grid-tile>
        <mat-grid-tile style="right: unset !important;margin-top: 50px;margin-left:15px;">
         
            <mat-radio-button name="TPFT" (click)="toggle1()" value="TPFT" [disabled]="selectDisabled">
              Third Party,Fire & Theft
            </mat-radio-button>  
     
         </mat-grid-tile>
        <mat-grid-tile style="right: unset !important;margin-top: 50px;margin-left:15px;">
         
            <mat-radio-button name="TP" (click)="toggle()" value="TP" [disabled]="selectDisabled">
              Third Party
            </mat-radio-button>
           
         </mat-grid-tile>

        </mat-grid-list>
       
      </mat-radio-group>
      <!-- <mat-error *ngIf="contactForm2.get('options1').hasError('required')">Please select cover type</mat-error>  -->
     
      <mat-grid-list style="margin-top:-10px" cols="2" [cols]="breakpoint" rowHeight="165px" (window:resize)="onResize($event)" *ngIf="(hide)">
 
    <mat-grid-tile style="right: unset !important">
      <div class="text-inside" *ngIf="(hide)">
        <mat-form-field>
          <input matInput type="text" placeholder="Vehicle Value" formControlName="vehicleValue">
        </mat-form-field>
 
      </div>
    </mat-grid-tile>
    <mat-grid-tile style="right: unset !important" *ngIf="(hide)">
      <div class="text-inside"  *ngIf="(hide)">
        Does Your vehicle have immobilizer alarm/club installed?   <mat-checkbox class="example-margin" formControlName="alarm"></mat-checkbox>
      </div>
    </mat-grid-tile>
   
  </mat-grid-list>
 
<app-drivertable></app-drivertable>
  <div class="text-inside" style="text-align: right;padding-bottom: 20px;">
    <button mat-raised-button color="primary" style="margin-left:50px" type="submit">Next</button>
    </div>
</form>
</mat-tab>
<mat-tab label="Premium Summary" [disabled]="true">
  
  <!-- <form fxLayout="column" (ngSubmit)='moveToSelectedTab2("Additional Details")' [formGroup]="contactForm3"> -->
    <form fxLayout="column" [formGroup]="contactForm3">
    <div class="form-group row"><label for="inputEmail3" class="col-sm-2 col-form-label" style="margin-top: 13px;">Coverage Information</label>
        <div class="col-sm-10"><input type="text" placeholder="" formControlName="coverageinfo" class="form-control" style="margin-top: 13px;" readonly /></div>
    </div>
    <div class="form-group row" style="height: 55px;">
      <div class="col-form-label col-sm-2">Automatic Discount % </div>
      <div class="col-sm-10"> <div class="basic-container">
        <mat-accordion style="height:38px !important">
        <mat-expansion-panel hideToggle="true" #xyz>
          <mat-expansion-panel-header>
            {{ncdvalue}} <span class="example-spacer"></span><div class="ad" style="text-align: center;" ><mat-icon *ngIf="!xyz.expanded" style="text-align: right;">info</mat-icon>
              <mat-icon *ngIf="xyz.expanded" style="text-align: right;">arrow_drop_down</mat-icon></div>
             
       
          </mat-expansion-panel-header>
          NCD {{ncdvalue}}
        </mat-expansion-panel>
     
      </mat-accordion>
      </div></div>
  </div>
    <div class="form-group row"><label for="inputPassword3" class="col-sm-2 col-form-label" style="margin-top: 15px;">Manual Load %</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3"><input type="number" placeholder="" onKeyPress="if(this.value.length==3) return false;" min="0" max="100" formControlName="manualloadp" class="form-control"/></div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3"><input type="text" placeholder="Reason for Load" formControlName="manualloadr" class="form-control"/></div>
            </div>
        </div>
    </div>
    <div class="form-group row"><label for="inputPassword3" class="col-sm-2 col-form-label" style="margin-top: 15px;" >Manual Discount %</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3"><input type="number" placeholder="" onKeyPress="if(this.value.length==3) return false;" min="0" max="100" formControlName="manualdisc" class="form-control"/></div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3"><input type="text" placeholder="Reason for discount" formControlName="manualdiscr" class="form-control"/></div>
            </div>
        </div>
    </div>
    <div class="form-group row"><label for="inputPassword3" class="col-sm-2 col-form-label" style="margin-top: 15px;">Additional Discounts</label>
      <div class="col-sm-10">
          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3">   <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-12 pt-0">Fleet Discount% <mat-checkbox class="example-margin" formControlName="fleet"></mat-checkbox></legend>
                    <!-- <div class="col-sm-10">   </div> -->
                </div>
            </fieldset></div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 py-3"><fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-12 pt-0">12 for 11 Promotion Discount%<mat-checkbox class="example-margin" formControlName="promotion"></mat-checkbox></legend>
                    <!-- <div class="col-sm-10">   </div> -->
                </div>
            </fieldset></div>
          </div>
      </div>
  </div>
 
   
   
    <div class="form-group row"><label for="inputPassword3" class="col-sm-2 col-form-label">Annual Gross Premium (in $)</label>
      <div class="col-sm-10"><input type="email" placeholder="" formControlName="annualgrosspremium" class="form-control" readonly /></div>
  </div>
    <div class="form-group row" style="height: 55px;"><label for="inputEmail3" class="col-sm-2 col-form-label">Taxes (in $)</label>
      <div class="col-sm-10"><input type="text"  formControlName="tax" placeholder="" class="form-control" readonly/></div>
  </div>
  <div class="form-group row" style="height: 80px;"><label for="inputEmail3" class="col-sm-2 col-form-label">Annual Net Premium (in $)</label>
    <div class="col-sm-10"><input type="text" placeholder="" formControlName="netprem" class="form-control" readonly/></div>
</div>

<button mat-raised-button color="primary" (click)="onSubmit()" style="float: right;margin-bottom: 20px;">Generate Premium</button>

<div class="text-inside" style="text-align: right;padding-bottom: 20px;margin-top:80px">
 
  <button mat-raised-button color="primary" style="margin-left:5px">Print</button>
 
 
    <button mat-raised-button color="primary" style="margin-left:5px">Approve</button>
   
   
      <button mat-raised-button color="primary" style="margin-left:5px">Decline</button>
     
     
        <button mat-raised-button color="primary" (click)="onSave()" style="margin-left:5px">Save</button>
     
   
        <button mat-raised-button color="primary" style="margin-left:5px" (click)='moveToSelectedTab2("Additional Details")' >Next</button>
        </div>
</form>
</mat-tab>
<mat-tab label="Additional Details" [disabled]="true">
  <form fxLayout="column" [formGroup]="contactForm4">
  <mat-card>Personal Details</mat-card> <mat-grid-list style="margin-top:-20px" cols="3" [cols]="breakpoint" rowHeight="105px" (window:resize)="onResize($event)">

 

  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Address Type" formControlName="addressType" required>
          <mat-option value="Business">Business</mat-option>
          <mat-option value="Commercial">Commercial</mat-option>
          <mat-option value="Home">Home</mat-option>
          <mat-option value="Mailing">Mailing</mat-option>
          <mat-option value="Risk Location">Risk Location</mat-option>
          <mat-option value="Secondary">Secondary</mat-option>
          <mat-option value="Work">Work</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Street Name/Number" formControlName="streetName" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="country" required>
        </mat-select>
      </mat-form-field>
   
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Zip Code" formControlName="zipCode" required>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Town" formControlName="cityTown" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-card>Policy & Vehicle Details</mat-card><mat-grid-list style="margin-top:-20px" cols="3" [cols]="breakpoint" rowHeight="105px" (window:resize)="onResize($event)">

  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <input matInput [matDatepicker]="picker8" placeholder="Policy Start Date" formControlName="policystartDate" required>
  <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
  <mat-datepicker #picker8></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-grid-tile>
 
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <input matInput [matDatepicker]="picker9" placeholder="Policy End Date" formControlName="policyendDate" required>
  <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
  <mat-datepicker #picker9></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Policy Type" formControlName="policyType" required>
          <mat-option value="Existing Customer - Existing Product">Existing Customer - Existing Product</mat-option>
          <mat-option value="Existing Customer - New Product">Existing Customer - New Product</mat-option>
          <mat-option value="Existing Customer - Revived Policy">Existing Customer - Revived Policy</mat-option>
          <mat-option value="Inactive Client - New Product">Inactive Client - New Product</mat-option>
          <mat-option value="New Customer - New Product">New Customer - New Product</mat-option>
          <mat-option value="New Policy">New Policy</mat-option>
          <mat-option value="Other Entity - New Product">Other Entity - New Product</mat-option>
          <mat-option value="Quotation">Quotation</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Currency" formControlName="currency" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Business Class" formControlName="businessClass" required>
          <mat-option value="Cancellation">Cancellation</mat-option>
          <mat-option value="Endorsement">Endorsement</mat-option>
          <mat-option value="New Client">New Client</mat-option>
          <mat-option value="New Client/Existing Client">New Client/Existing Client</mat-option>
          <mat-option value="Policy for Client Input">Policy for Client Input</mat-option>
          <mat-option value="Policy for Record Purpose Only">Policy for Record Purpose Only</mat-option>
          <mat-option value="Renewal">Renewal</mat-option>
          <mat-option value="Revival">Revival</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <mat-select placeholder="Branch" formControlName="branch" required>
          <mat-option value="Abaco">Abaco</mat-option>
          <mat-option value="Andros">Andros</mat-option>
          <mat-option value="Exuma">Exuma</mat-option>
          <mat-option value="Exuma NUA 2">Exuma NUA 2</mat-option>
          <mat-option value="Exuma NUA">Exuma NUA </mat-option>
          <mat-option value="Freeport">Freeport</mat-option>
          <mat-option value="Head Office">Head Office</mat-option>
          <mat-option value="Head Office - Cayman">Head Office - Cayman</mat-option>
          <mat-option value="Marathon Mall">Marathon Mall</mat-option>
          <mat-option value="Thompson Boulevard">Thompson Boulevard</mat-option>
          <mat-option value="Turks and Caicos">Turks and Caicos</mat-option>
          <mat-option value="Turks and Caicos (Acordia)">Turks and Caicos (Acordia)</mat-option>
          <mat-option value="Turks and Caicos (Fidelity)">Turks and Caicos (Fidelity)</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Deductibles" formControlName="deductibles">
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile style="right: unset !important">
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Engine Number" formControlName="EngineNumber" required>
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="text-inside" style="text-align: right;padding-bottom: 20px;">
<button mat-raised-button color="primary" style="margin-left:50px">Submit</button>
</div> </form> </mat-tab>
</mat-tab-group></mat-tab></mat-tab-group>

</div>
