<body>
  <p style="font-family:sans-serif !important;"><b>Record Activity</b></p>
<div class="info"> 
    <mat-form-field  style="margin-left: 10px;">
      <input matInput [(ngModel)]="data.ClientName" placeholder="Client Name" readonly style="width: 150px;height:25px;">
    </mat-form-field> 
    <mat-form-field  style="margin-left: 45px;">
      <input matInput [(ngModel)]="data.policy" placeholder="Policy Number:" readonly style="width: 150px;height:25px;">
    </mat-form-field> 
    <mat-form-field style="margin-left: 45px;">
      <input matInput [(ngModel)]="data.PhnNum1" placeholder="Phone Number 1:" readonly style="width: 150px;height:25px;">
    </mat-form-field> 
    <mat-form-field style="margin-left: 45px;">
      <input matInput [(ngModel)]="data.PhnNum2" placeholder="Phone Number 2:" readonly style="width: 150px;height:25px;">
    </mat-form-field> 
    <mat-form-field style="margin-left: 45px;">
      <input matInput [(ngModel)]="data.PhnNum3" placeholder="Phone Number 3:" readonly style="width: 150px;height:25px;">
    </mat-form-field> 
    <mat-form-field style="margin-left: 10px;">   
      <input matInput [(ngModel)]="data.EmailId" placeholder="Email Id:" readonly style="white-space: normal;
       width: 250px;height:25px;">
    </mat-form-field>  
  </div>
   <div id="open">
  <div class="log">

  <form name="f" [formGroup]="ClientForm" (ngSubmit)="onSubmit()"class="form">
    <!-- onSubmit(ClientForm.value) -->
    <!-- <mat-form-field class="example-full-width">
      <input matInput maxlength="250" placeholder="Last Correspondence" formControlName="comment"  name="comment"
        style="height:35px;width: 200px;" readonly>
    </mat-form-field>--> <br><br> 
    <div style="float:left;margin-top: 12px;"><h5 style="font-size: 17px;font-family:sans-serif !important;margin-top: -10px;">Correspondence Mode :</h5></div>
    <div>&nbsp;&nbsp;
      <mat-radio-group aria-label="Select an option" formControlName="mode">
          <mat-radio-button name="call" value="Call" checked>Call</mat-radio-button>&nbsp;

      </mat-radio-group><br></div><br>

      <mat-form-field color="accent">
        <mat-label>Expected Pay Date </mat-label>
        <input matInput [min]="minDate" autocomplete="off" [matDatepicker]="picker"  name="picker" formControlName="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker   #picker color="primary"></mat-datepicker>
        <mat-error *ngIf=" ClientForm.get('picker').hasError('matDatepickerMin')">
          Please enter a valid date!
        </mat-error>
      </mat-form-field><br>

      <mat-form-field class="example-full-width">
        <textarea matInput maxlength="250" name="note" formControlName="note" placeholder="Note" style="height: 50px;width: 200px;" required></textarea>
        <!-- <a style="font-size: 10px;"> (minium 2 characters)</a> -->
        <mat-error *ngIf=" ClientForm.get('note').hasError('required')">
          Please enter the details of the correspondence.<br>
        </mat-error>
      
      </mat-form-field><br><br>
      <a style="font-size: 14px; color:red;font-style: italic;font-family: 'Open Sans', sans-serif;"> (Please also record the payment amount specified by the customer)</a><br><br>
    <button mat-button class="btn btn-default" [disabled]="!ClientForm.valid" type="submit">Followed up</button>
    
    </form>
  </div>
</div></body>