
      <div data-type="default" class="container">
        <mat-card>Search Details</mat-card>
        <div data-type="default" class="row">
        
            <div data-type="default" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-3">
              
              <div class="example-header" fxLayout="row">
                <form #myForm="ngForm" fxLayout="column"  [formGroup]="SearchForm">
                <!-- <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field> -->
                        <mat-form-field style="margin-left: 30px;">
                    <input matInput class="form-field" [formControl]="nameFilter" placeholder="Name">
                  </mat-form-field>
                  <mat-form-field  style="margin-left: 30px;">
                    <input matInput [matDatepicker]="picker6" placeholder="Date of Birth" [formControl]="dobFilter">
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field style="margin-left: 30px;">
                    <input matInput class="form-field" [formControl]="quoteidFilter" placeholder="Quote ID">
                  </mat-form-field>
                  <button mat-raised-button (click)="onSearch1()" type="button" color="primary" style="margin-left: 30px;">Search</button>
                  <button mat-raised-button  color="primary" style="margin-left: 30px;">Reset</button>
                </form>
                </div>
              
              <div class="example-container mat-elevation-z8">
      
                <mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="ClientName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="ClientName"> {{element.ClientName}} </mat-cell>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="QuoteID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quote ID </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="QuoteID"> {{element.QuoteID}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="QuoteIssuanceDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Issuance Date </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="QuoteIssuanceDate"> {{element.QuoteIssuanceDate}}</mat-cell>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="QuoteStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="QuoteStatus">{{element.QuoteStatus}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
                    <mat-cell *matCellDef="let element" data-label="edit"><button mat-button style="color:rgb(19, 152, 204)">View</button>
                      <button mat-button style="color:rgb(19, 152, 204)">Edit</button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
    
            </div>
            </div>
            </div>