mat-form-field {
  width: 100%;
   
 }
::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.text-inside{

  width: 100%;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
    border-color: rgb(108, 184, 228) !important;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: rgb(108, 184, 228) !important;
  }
  .mat-raised-button.mat-primary {
    background-color: #6cc6f0;
}
.mat-raised-button.mat-primary:disabled {
  background-color:#9ea7a8;
}


button:disabled{
  background-color: #9ea7a8;
}
.example-margin {
  margin: 0 10px;
}/*for radio align*/