
 <mat-toolbar style=" background: rgb(131, 230, 255);
 color: #fff;border-radius: 5px;white-space: normal;
 font-weight: 600;height:50px">Add Driver Details <span class="example-spacer"></span><div class="ad" style="text-align: center;" ><button mat-dialog-close mat-raised-button style="color:rgb(6, 149, 206)">Close</button></div></mat-toolbar>
<mat-grid-list style="margin-top:20px" cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
  <form fxLayout="column" [formGroup]="driverForm" name="driverform">
  <mat-grid-tile>
    <div class="text-inside">
        
      *Is the driver same as the client?<mat-checkbox [disabled]="!authenticate" class="example-margin" [ngModel]="ngModelChecked"
      (ngModelChange)="onNgModelChangeEvent($event)" formControlName="Driverclient" [checked]="false"> </mat-checkbox>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="Driver Name" formControlName="DriverName" required>
      </mat-form-field>
    </div> 
      

  </mat-grid-tile>

  <mat-grid-tile>
    <div class="text-inside">

      <mat-form-field>
        <input matInput [matDatepicker]="picker5" placeholder="Date of Birth" formControlName="DOB" required>
        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
      </mat-form-field>
    </div> 
      

  </mat-grid-tile>
  
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="License Issue Date" formControlName="LicenseIssueDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div> 
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="text-inside">
      <mat-form-field>
        <input matInput type="text" placeholder="License Number" formControlName="LicenseNumber" required>
      </mat-form-field>
    </div> 
  </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-inside">
        Do you suffer from any physical/mental disabilities or infirmities? <mat-checkbox class="example-margin" [checked]="false" formControlName="physical" > </mat-checkbox>
      </div> 
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="text-inside">
        Do you have any previous convictions related to Drunk & Drive or Dangerous Driving?  <mat-checkbox class="example-margin" [checked]="false" formControlName="drunk" > </mat-checkbox>
      </div>
    </mat-grid-tile>
   
    <mat-grid-tile>
      <div class="text-inside">
          Do you have any previous Insurance?  <mat-checkbox class="example-margin" [checked]="false" formControlName="previous"> </mat-checkbox>
      </div>
    </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="text-inside">
            Do you have any previous claim history?<mat-checkbox class="example-margin" [checked]="false" formControlName="claimhistory" > </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-inside">
            Do you have any previous total loss claim? <mat-checkbox class="example-margin" [checked]="false" formControlName="lossclaim" > </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-inside">
          <mat-form-field>
            <mat-select placeholder="Driver Warranty" formControlName="Driverwar" required>
              <mat-option value="A">Any Driver</mat-option>
              <mat-option value="B">Insured Only</mat-option>
              <mat-option value="C">Insured + One Named Driver</mat-option>
              <mat-option value="D">Insured + Two Or More Named Drivers</mat-option>
              <mat-option value="E">Named driver(s) excluding the Insured</mat-option>
              <mat-option value="F">Anyone 21 yrs. & older with a licence for 2 yrs. or more</mat-option>
              <mat-option value="G">Anyone 25 yrs. & older with a licence for 2 yrs. or more</mat-option>
              
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!driverForm.valid" (click)="dig()" style="align-items: flex-end;margin-left:140px">Add</button>
        </div>
      </mat-grid-tile>
     </form>
  </mat-grid-list>

  